.navigation {
    background: @nav-bg;
    display: flex;
    justify-content: center;
    align-items: center;

    .navigation-items {
        width: 100%;

        h1 {
            text-align: center;
            margin-top: 15px;
            color: @header-font-color;
        }

        nav {
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 15px 0;

            a:not(:last-child) {
                margin-right: 1.8%;
            }
        }
    }
}
